body {
    background-color: #F0F8FF
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.about {
    background-color: #f43636;
}

.active {
    background-color: #4CAF50;
}

fontcolor1 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

fontcolor2 {}

right {
    float: right;
}

left {
    float: left;
}