body {
    background: url(Photo/Bg01.jpg) no-repeat center fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

h1 {
    color: red;
}

.aboutme {
    background-color: #f43636;
}

div.image {
    margin: 5px;
    float: left;
    width: 250px;
}

div.image img {
    width: 100%;
}

div.Mes {
    padding: 16px;
    text-align: center;
}

right {
    float: right;
}

right a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

left {
    float: left;
}

left a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

table {
    background-color: white;
    text-align: center;
    border-collapse: collapse
}

table,
tr,
td {
    text-align: center;
    border: 1px solid #ddd;
    ;
}

th {
    background-color: gray;
}

td,
th {
    display: table-cell;
    vertical-align: inherit;
}

h1 {
    text-align: center;
}